@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --bg_grey: #333;
    --bg_hover: #444;
    --red: #b90415;
    --red_light: #d3071b;
    --light: #f4f4f4;
    --blue: #103063;
    --blue_light: #143f85;
    --size: 40px 70px;
}

/* BASICS */

*, body,
html {
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


body {
    font-size: 1.3rem;
}


/*FONTS*/
h1, h2, h3, h4, h5 {
    padding: .4em .3em;
}

h1 {
    font-size: 4rem;
    padding: .2rem 0;
}

.container, .text_centered {
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px 20px
}

.bg_dark {
    background-color: var(--bg_grey);
    height: 100%;
    /*background-size: cover;*/
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
}


/*BUTTONS*/
.btn {
    display: inline-block;
    background-color: var(--red);
    font-size: 1rem;
    color: white;
    padding: 1em;
    margin: 1.3em;
    border: none;
}

.btn:hover {
    background-color: var(--red_light);
}

.bg_light .btn {
    background-color: var(--blue);
}

.bg_light .btn:hover {
    background-color: var(--blue_light);
}


/* SHOWCASE   */

#showcase {
    position: relative;
    background-image: url(./img/1st.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAV */

.nav_flex {
    display: flex;
    height: 1.8em;
    width: 100%;
    position: fixed;
    background-color: var(--bg_grey);
}

.nav_flex ul {
    display: flex;
}

li {
    font-size: 1rem;
    margin: .5em 1.2em;
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--light);
    padding: .5em .9em;
}
.logo a{
    top: 0;
    font-size: 1rem;
}
.nav_flex a:hover  {
    transition: ease-in-out;
}

.nav_flex a:hover::after {
    content: "";
    display: table;
    width: 100%;
    height: 115%;
    background-color: var(--bg_hover);
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
    z-index: -1;
}


.text_centered {
    min-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 18%;
    color: var(--light);
    text-align: center;
}

/*SECTION I*/
.music {
    color: white;
    max-height: 150vh;
    /*overflow: hidden;*/
}

.flex_music {
    display: flex;
    flex-direction: column;
    min-width: 60%;
}


/*SECTION II*/
.entertainment {
    background-image: url("./img/section-bg.jpeg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 0;
    height: 60vh;
    max-height: fit-content;
    color: white;
}


/*SECTION III*/

.text {
    text-align: left;
}

.card a, .card a:visited {
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    color: #103063;
}

.small {
    position: absolute;
    margin: 5px;
    padding-right: 10px;
}

/*SECTION IV INFO*/
.information {
    background-color: var(--bg_grey);
    padding: 20px 5px;
    color: white;
}

.flex_cln {
    font-size: 14px;
    justify-content: space-between;
    padding: 5px;
}

.shop h3 {
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
}

.shop li {
    text-align: left;
    font-size: 14px;
    margin: 3px 1px;
}

/*FOOTER*/
footer {
    color: white;
    background-color: var(--bg_hover);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 16px;
}


/*MOBILE*/
@media screen and (max-width: 850px) {
    .music{
        max-height: fit-content;

    }
    .img_2 {
        max-width: 70%;
        height: 70%;
    }
    .entertainment{
        padding: 20px 15px;
        font-size: 14px;
        height: fit-content;
    }

}

@media (max-width: 610px){

    /*MENU BTN*/
    .resp{
        display: flex;
        justify-content: flex-end;
    }


    .menu-btn {
        width: 30px;
        height: 30px;
        position: fixed;
        z-index: 2;
        overflow: hidden;
    }

    .menu-btn span {
        width: 20px;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 50%;
        background-color: white;
        transition: all 0.5s;
        overflow: auto;

    }

    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menu {
        position: fixed;
        top: -10px;
        right: 0;
        padding: 15px;
        transform: translateX(100%);
        transition: transform 0.5s;
        width: 100%;
        height: 50vh;
        background-color: black;
        opacity:0.95;
    }

    .menu.active {
        transform: translateX(0);
    }

    /*BEFORE/AFTER*/
    .nav_flex a:hover::after {
        width: 100%;
        height: 100%;
        background-color: var(--bg_hover);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

    }

        /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(50%, 0%) rotate(-45deg);
    }

    .menu_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .menu_list li{
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 10px;
    }

  }
@media (max-width: 580px) {
    body {
        font-size: 1rem;
    }

    #showcase {
        height: 50vh;
        overflow: hidden;
    }

    .text_centered {
        min-width: 90%;
    }
    .information, .text_centered p {
        display: none;
    }

    h1 {
        font-size: 3rem;
    }

    .card .flex {
        flex-direction: column;
    }


}
@media screen and (max-height: 520px) {
#showcase p{
    display: none;
}
    #showcase{overflow: hidden;}
    .music{
        height: 100%;
    }
}